*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

.header-page {
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
}

.header-menu ul {
    display: flex;
    font-size: 20px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffff;
}

ul, ol {
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

.sobre {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 45px;
    font-weight: 10px;
}

.texto {
    word-wrap: break-word;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

.container-sobre {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
}


.card-sobre {
    background-color: #160c0c; 
    width: 21%;
    padding: 20px 0;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 37px;
    background: #140c0c;
    box-shadow:  31px 31px 62px#0d0808,      -31px -31px 62px #1b1010;
    transition: .5s;

}
