*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    background-color: #291414;
    font-family: 'Catamaran', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.sobre {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 45px;
    font-weight: 10px;
}

.texto {
    word-wrap: break-word;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 15px;
}

